/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/inika-v21-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inika-v21-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/inika-v21-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inika-v21-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EDF2EC;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #EDF2EC;
}

.wrapper {
  max-width: 87%;
  overflow: hidden;
  margin: 0 auto;
}

.wrapper-header {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  margin-top: 4px;
  padding-right: 15px;
}

.header-logo-link {
  text-decoration: none;
  transition: 1s;
  padding-left: 15px;
}

.header-logo-svg {
  width: 21px;
  height: 21px;
  margin-bottom: 5px;
}

.header-logo-text {
  font-family: 'Inika';
  font-size: 16px;
  color: #000000;
  margin-left: -3px;
}

.header-logo-link:hover {
  transform: scale(1.1);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 47px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Inika';
  font-size: 16px;
  color: #010201;
  transition: 0.5s;
}

.nav-link:hover {
  color: #E06733;
  font-weight: 700;
}

.wrapper-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-content {
  width: 97%;
  padding: 60px 0px 55px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-leafs-img {
  width: 460px;
  height: 423px;
  margin-left: -11px;
  background: url('../img/leafs-large.png');
  background-color: #EDF2EC;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-text {
  width: 45%;
  margin-top: 8px;
}

.welcome-text>h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  padding-top: 16px;
}

.welcome-text>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding: 44px 0 50px 0;
  line-height: 35px;
  color: #636060;
}

.welcome-text>button {
  font-family: 'Inter';
  font-size: 16px;
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  background-color: #EDF2EC;
  margin-bottom: 19px;
  transition: 0.5s;
}

.about-us {
  background-color: #FFFFFF;
}

.about-us-content {
  padding: 95px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-text {
  margin-top: 6px;
}

.about-us-text>h2 {
  width: 60%;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  padding: 0px 0px 37px 0px;
}

.about-us-text>p {
  color: #636060;
  width: 80%;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 30px;
}

.houseplant-img {
  width: 465px;
  height: 475px;
  object-fit: cover;
}

.services-content {
  width: 80.5%;
  margin: 40px 0px 80px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-btns {
  display: flex;
  justify-content: space-between;
  gap: 39px;
  margin-top: 10px;
}

.service-btns>button {
  font-family: 'Inika';
  font-size: 20px;
  line-height: 26px;
  width: 161px;
  height: 50px;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #EDF2EC;
  transition: 0.5s;
}

.services-content>h2 {
  width: 40%;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.services {
  padding: 0px 15px 123px 15px;
  display: grid;
  grid-template-columns: 329px 329px 329px;
  column-gap: 118px;
  row-gap: 59px;
}

.service-item>img {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.service-item-descriprion {
  width: 327px;
  height: 97px;
  text-align: center;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}

.service-item-descriprion>h3 {
  padding: 9px 0px 3px 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
}

.service-item-descriprion>p {
  margin-top: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.prices {
  background-color: #FFFFFF;
}

.prices-content {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px 109px 15px
}

.prices-options>h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices-items {
  width: 332px;
  height: 282.01px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  margin-top: 59px;
}

.prices-items-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  position: relative;
  padding: 33px 0px 0px 40px;
  gap: 33px;
}

.price-item-link {
  position: relative;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background: #EDF2EC;
}

.price-item-link>span {
  position: absolute;
  left: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.price-item-link>button {
  position: absolute;
  top: 12px;
  right: 35px;
  border: none;
  width: 26px;
  height: 26px;
  background: #EDF2EC;
}

.text-call-us {
  width: 40%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-call-us>h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 40px;
}

.text-call-us>button {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: 1s;
}

.btns:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #E06733;
}

.prices-leafs-img {
  margin-top: 34px;
  width: 156px;
  height: 184.99px;
  background: url('../img/leafs-small.png');
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 53px 15px 0px;
}

.contact-img {
  width: 400px;
  height: 496.99px;
}

.contact-us>h2 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  padding: 7px 0px 0px 43px;
}

.contacts-form>form {
  position: relative;
  top: 96px;
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="text"] {
  border: none;
  background-color: #D6E7D2;
  font-family: 'Inter';
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #717171;
  padding-left: 19px;
}

button[type="submit"] {
  position: absolute;
  right: 35px;
  border: none;
  background-color: #D6E7D2;
}

footer {
  background: #FFFFFF;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 41px 15px;
}

.footer-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.footer-data>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-links {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
  transition: 0.7s;
}

.footer-rs-school-link {
  padding-left: 18px;
}

.footer-links:hover {
  color: #E06733;
}

.footer-social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.footer-social-link {
  list-style-type: none;
  transition: 1.5s;
}

.social-list-ico:hover {
  filter: invert(47%) sepia(99%) saturate(1483%) hue-rotate(342deg) brightness(93%) contrast(88%);
  transform: scale(1.1);
}


@media (max-width: 1420px) {
  .services-content {
    width: 100%;
    padding: 0px 15px 10px 15px;
  }

  .services {
    padding: 0px 15px 123px 50px;
    column-gap: 50px;
    ;
  }

}

@media (max-width: 1353px) {
  .services-content {
    width: 100%;
    padding: 0px 15px 5px 15px;
  }

  .services {
    padding: 0px 15px 100px 50px;
    column-gap: 30px;
  }

  .services-content>h2 {
    width: 70%;
  }
}

@media (max-width: 1279px) {

  .services-content {
    margin: 40px 0px 80px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .services {
    padding: 0px 15px 100px 0px;
    grid-template-columns: 329px 329px 329px;
    column-gap: 20px;
    row-gap: 59px;
  }

  .services-content>h2 {
    width: 100%;
    text-align: center;
  }

  .service-btns {
    margin-top: 30px;
  }

  .wrapper-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact us {
    order: -1;
  }

  .contact-us>h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding: 0px 0px 10px 0px;
  }

  .contacts-form {
    order: 0;
  }

  .contacts-form>form {
    position: relative;
    top: 20px;
    margin-bottom: 30px;
  }

  .contact-img {
    order: 1;
    margin-top: 30px;
    width: 320px;
    height: 406.99px;
    margin-right: 50px;
  }
}

@media (max-width: 1179px) {

  .services-content {
    margin: 40px 0px 80px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .services {
    padding: 0px 15px 100px 70px;
    grid-template-columns: 329px 329px;
    column-gap: 100px;
    row-gap: 59px;
  }

  .services-content>h2 {
    width: 100%;
    text-align: center;
  }

  .service-btns {
    margin-top: 30px;
  }

  .wrapper-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact us {
    order: -1;
  }

  .contact-us>h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding: 0px 0px 10px 0px;
  }

  .contacts-form {
    order: 0;
  }

  .contacts-form>form {
    position: relative;
    top: 20px;
    margin-bottom: 30px;
  }

  .contact-img {
    order: 1;
    margin-top: 30px;
    width: 320px;
    height: 406.99px;
    margin-right: 50px;
  }
}

@media (max-width: 1000px) {
  .navbar {
    gap: 100px;
  }

  .wrapper-header {
    padding: 50px 0px 28px 0px;
  }

  .welcome-text>h1 {
    font-size: 35px;
  }

  .welcome-leafs-img {
    width: 290px;
    height: 270px;
  }

  .about-us-content {
    padding: 50px 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-us-text>h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 37px;
    line-height: 46px;
  }

  .about-us-text>p {
    width: 100%;
    margin-top: 11px;
  }

  .houseplant-img {
    width: 250px;
    height: 258px;
    margin: 70px 0px 59px 0px;
  }

  .services-content {
    margin: 40px 0px 80px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .services {
    padding: 0px 0px 73px 0px;
    display: grid;
    grid-template-columns: 280px 280px;
    column-gap: 80px;
    row-gap: 40px;
    justify-content: center;
    justify-items: stretch;
  }

  .service-item>img {
    width: 280px;
    height: 350px;
  }

  .service-item-descriprion {
    width: 280px;
    height: 105px;
    margin-top: -7px;
  }

  .service-item-descriprion>h3 {
    padding: 16px 0px 6px 0px;
  }

  .service-item-descriprion>p {
    width: 80%;
    margin: 7px 0px 0px 28px;
    text-align: center;
  }

  .prices-options>h2 {
    font-size: 33px;
  }

  .text-call-us>h3 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 25px;
  }

  .wrapper-contacts {
    padding: 0px 0px 96px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .contact us {
    order: -1;
  }

  .contact-us>h2 {
    padding: 40px 0px 0px 0px;
  }

  .contacts-form {
    order: 0;
  }

  .contacts-form>form {
    margin-top: 3px;
  }

  input[type="text"] {
    margin-left: 0px;
  }

  .contact-img {
    order: 1;
  }

  .contact-img>img {
    margin: 50px 0px 0px 0px;
  }

  .footer-data {
    gap: 5px;
  }

  .footer-social-list {
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .main-container {
    max-width: 768px;
  }

  .navbar {
    gap: 70px;
    margin-top: 0px;
    padding-right: 0px;
  }

  .header-logo-link {
    padding-left: 0px;
  }

  .header-logo-svg {
    margin-top: -3px;
  }

  .welcome-content {
    width: 100%;
    padding: 0px 0px 86px 0px;
  }

  .welcome-leafs-img {
    width: 285px;
    height: 264px;
    order: 0;
    margin-top: 14px;
  }

  .welcome-text {
    width: 58%;
    height: 310px;
    order: -1;
    margin: 40px 0px 0px 0px;
  }

  .welcome-text>p {
    width: 90%;
    font-size: 16px;
    line-height: 25px;
    margin: 30px 0px 14px 0px;
    padding: 2px 0px 0px 5px;
  }

  .welcome-text>button {
    line-height: 20px;
    margin-top: 19px;
  }

  .about-us-content {
    padding: 35px 0px;
  }

  .about-us-text>h2 {
    font-size: 35px;
  }

  .services-content {
    width: 90%;
    margin: 60px 0px 41px 0px;
    display: block;
    padding: 0px;
  }

  .services-content>h2 {
    width: 60%;
    font-size: 35px;
    line-height: 46px;
    padding-bottom: 40px;
    text-align: start;
  }

  .service-btns {
    width: 93%;
    gap: 42px;
    margin: 0px;
  }

  .service-btns>button {
    width: 200px;
    height: 50px;
  }

  .services {
    column-gap: 90px;
    justify-content: space-between;
  }

  .prices-content {
    padding: 41px 0px 82px 0px;
  }

  .prices-options>h2 {
    padding-left: 14px;
    font-size: 35px;
    line-height: 42px;
  }

  .prices-items {
    margin-top: 54px;
  }

  .prices-items-list {
    padding: 19px 0px 0px 40px;
    gap: 0px;
  }

  .price-item-link {
    margin: 16px 0px;
    border-radius: 20px;
  }

  .text-call-us {
    position: relative;
    padding-top: 100px;
    width: 60%;
  }

  .prices-leafs-img {
    margin-top: 31px;
    width: 156px;
    height: 186px;
  }

  .wrapper-contacts {
    padding: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .contacts-form>form {
    margin-top: 80px;
  }

  .contact-img>img {
    width: 200px;
    height: 248.49px;
    margin: 209px 0px 0px 95px;
  }

  .footer-content {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-data {
    margin-top: 13px;
    gap: 23px;
  }

  .footer-data>p {
    line-height: 24px;
  }

  .footer-links {
    line-height: 24px;
  }

  .footer-rs-school-link {
    padding-left: 0px;
  }

  .footer-social-list {
    height: 50px;
    gap: 20px;
  }
}
