@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/inter-v12-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inter-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/inika-v21-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inika-v21-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../fonts/inika-v21-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/inika-v21-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EDF2EC;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #EDF2EC;
}

.wrapper {
  max-width: 87%;
  overflow: hidden;
  margin: 0 auto;
}

.wrapper-header {
  padding: 50px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
  margin-top: 4px;
  padding-right: 15px;
}

.header-logo-link {
  text-decoration: none;
  transition: 1s;
  padding-left: 15px;
}

.header-logo-svg {
  width: 21px;
  height: 21px;
  margin-bottom: 5px;
}

.header-logo-text {
  font-family: 'Inika';
  font-size: 16px;
  color: #000000;
  margin-left: -3px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 47px;
}

.nav-link {
  text-decoration: none;
  font-family: 'Inika';
  font-size: 16px;
  color: #010201;
  transition: 0.5s;
}

.nav-link:hover {
  color: #E06733;
  font-weight: 700;
}

.hamburger {
  display: none;
  margin-top: -9px;
}

.wrapper-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-content {
  width: 97%;
  padding: 60px 0px 55px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.welcome-leafs-img {
  width: 460px;
  height: 423px;
  margin-left: -11px;
  background: url('../img/leafs-large.png');
  background-color: #EDF2EC;
  background-size: cover;
  background-repeat: no-repeat;
}

.welcome-text {
  width: 45%;
  margin-top: 8px;
}

.welcome-text>h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  padding-top: 16px;
}

.welcome-text>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  padding: 44px 0 50px 0;
  line-height: 35px;
  color: #636060;
}

.welcome-text>button {
  font-family: 'Inter';
  font-size: 16px;
  width: 158px;
  height: 44px;
  border: 2px solid #E06733;
  border-radius: 10px;
  background-color: #EDF2EC;
  margin-bottom: 19px;
  transition: 0.5s;
}

.welcome-text>button>a {
  color: #000000;
}

.about-us {
  background-color: #FFFFFF;
}

.about-us-content {
  padding: 95px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-us-text {
  margin-top: 6px;
}

.about-us-text>h2 {
  width: 60%;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  padding: 0px 0px 37px 0px;
}

.about-us-text>p {
  color: #636060;
  width: 80%;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 30px;
}

.houseplant-img {
  width: 465px;
  height: 475px;
  object-fit: cover;
}

.services-content {
  width: 80.5%;
  margin: 40px 0px 80px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-btns-container {
  display: flex;
  justify-content: space-between;
  gap: 39px;
  margin-top: 10px;
}

.btns-service {
  font-family: 'Inika';
  font-size: 20px;
  line-height: 26px;
  width: 161px;
  height: 50px;
  color: #E06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #EDF2EC;
  transition: 0.5s;
}

.btns-service:disabled:hover {
  background-color: #EDF2EC;
  color: #E06733;
  cursor: not-allowed;
}

.btn-active {
  background-color: #E06733;
  color: white;
}

.services-content>h2 {
  width: 40%;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
}

.services {
  padding: 0px 15px 123px 15px;
  display: grid;
  grid-template-columns: 329px 329px 329px;
  column-gap: 118px;
  row-gap: 59px;
}

.service-item {
  transition: 0.5s;
}

.service-item>img {
  width: 329px;
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.service-item-descriprion {
  width: 327px;
  height: 97px;
  text-align: center;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
}

.service-item-descriprion>h3 {
  padding: 9px 0px 3px 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #E06733;
}

.service-item-descriprion>p {
  margin-top: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}

.blur {
  transition: 0.5s;
  filter: blur(2px);
}

.prices {
  background-color: #FFFFFF;
}

.prices-content {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px 109px 15px
}

.prices-options>h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

.prices-items {
  width: 332px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  margin-top: 59px;
}

.prices-items-list {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  position: relative;
  padding: 33px 0px 40px 40px;
  gap: 33px;

}

.price-accordion {
  position: relative;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background: #EDF2EC;
}

.price-accordion>span {
  position: absolute;
  left: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.price-accordion>button {
  position: absolute;
  top: 12px;
  right: 35px;
  border: none;
  width: 26px;
  height: 26px;
  background: #EDF2EC url("../img/svg/accordion_btn.svg") center no-repeat;
  cursor: pointer;
}

.accordion-active {
  background-color: #D6E7D2;
  border-radius: 20px 20px 0px 0px;
}

.accordion-active>button {
  transform: rotate(180deg);
  background-color: #D6E7D2;
  cursor: pointer;
}

.accordion-content {
  display: none;
  transition: 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  width: 250px;
  background-color: #D6E7D2;
  border-radius: 0px 0px 20px 20px;
  margin-top: -20px;
  padding-top: 20px;
  padding-left: 40px;
}

hr {
  width: 164px;
  border: 0.5px solid #AEA1A1;
}

.accordion-content-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 10px;
  color: #717171;
  padding-top: 7px;
}

.accordion-content-cost {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  padding-top: 6px;
}

.accordion-content-cost>span {
  color: #E06733;
  font-size: 14px;
}

.btn-order {
  background: #FFFFFF;
  border-radius: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding: 3px 20px;
  margin: 10px 0px;
  cursor: pointer;
}

.btn-order>a {
  color: #717171;
}

.opened {
  display: block;
}

.text-call-us {
  width: 40%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-call-us>h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 40px;
}

.text-call-us>button {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background-color: #FFFFFF;
  transition: 1s;
  cursor: pointer;
}

.text-call-us>button>a {
  color: #E06733;
  ;
}

.btns:hover {
  cursor: pointer;
  background-color: #E06733;
  color: #FFFFFF;
}

.btns:hover>a {
  color: #FFFFFF;
}

.prices-leafs-img {
  margin-top: 34px;
  width: 156px;
  height: 184.99px;
  background: url('../img/leafs-small.png');
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 53px 15px 0px;
}

.contact-img {
  width: 400px;
  height: 496.99px;
}

.contact-us>h2 {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  padding: 7px 0px 0px 43px;
}

.contacts-form>form {
  position: relative;
  top: 96px;
  width: 450px;
  height: 50px;
  background: #D6E7D2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="text"] {
  border: none;
  background-color: #D6E7D2;
  font-family: 'Inter';
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #717171;
  padding-left: 19px;
}

button[type="submit"] {
  position: absolute;
  right: 35px;
  border: none;
  background-color: #D6E7D2;
}

footer {
  background: #FFFFFF;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 41px 15px;
}

.footer-data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.footer-data>p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
}

.footer-links {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
  transition: 0.7s;
}

.footer-rs-school-link {
  padding-left: 18px;
}

.footer-links:hover {
  color: #E06733;
}

.footer-social-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.footer-social-link {
  list-style-type: none;
  transition: 1.5s;
}

.social-list-ico:hover {
  filter: invert(47%) sepia(99%) saturate(1483%) hue-rotate(342deg) brightness(93%) contrast(88%);
  transform: scale(1.1);
}


@media (max-width: 1420px) {
  .services-content {
    width: 100%;
    padding: 0px 15px 10px 15px;
  }

  .services {
    padding: 0px 15px 123px 50px;
    column-gap: 50px;
    ;
  }

}

@media (max-width: 1353px) {
  .services-content {
    width: 100%;
    padding: 0px 15px 5px 15px;
  }

  .services {
    padding: 0px 15px 100px 50px;
    column-gap: 30px;
    justify-content: center;
    justify-items: stretch;
  }

  .services-content>h2 {
    width: 70%;
  }
}

@media (max-width: 1279px) {

  .services-content {
    margin: 40px 0px 80px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .services {
    padding: 0px 15px 100px 0px;
    grid-template-columns: 329px 329px 329px;
    column-gap: 20px;
    row-gap: 59px;
    justify-content: center;
    justify-items: stretch;
  }

  .services-content>h2 {
    width: 100%;
    text-align: center;
  }

  .service-btns-container {
    margin-top: 30px;
  }

  .wrapper-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact us {
    order: -1;
  }

  .contact-us>h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding: 0px 0px 10px 0px;
  }

  .contacts-form {
    order: 0;
  }

  .contacts-form>form {
    position: relative;
    top: 20px;
    margin-bottom: 30px;
  }

  .contact-img {
    order: 1;
    margin-top: 30px;
    width: 320px;
    height: 406.99px;
    margin-right: 50px;
  }
}

@media (max-width: 1179px) {

  .services-content {
    margin: 40px 0px 80px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .services {
    padding: 0px 15px 100px 70px;
    grid-template-columns: 329px 329px;
    column-gap: 100px;
    row-gap: 59px;
  }

  .services-content>h2 {
    width: 100%;
    text-align: center;
  }

  .service-btns-container {
    margin-top: 30px;
  }

  .wrapper-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
  }

  .contact us {
    order: -1;
  }

  .contact-us>h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    padding: 0px 0px 10px 0px;
  }

  .contacts-form {
    order: 0;
  }

  .contacts-form>form {
    position: relative;
    top: 20px;
    margin-bottom: 30px;
  }

  .contact-img {
    order: 1;
    margin-top: 30px;
    width: 320px;
    height: 406.99px;
    margin-right: 50px;
  }
}

@media (max-width: 1000px) {
  .navbar {
    gap: 100px;
  }

  .wrapper-header {
    padding: 50px 0px 28px 0px;
  }

  .welcome-text>h1 {
    font-size: 35px;
  }

  .welcome-leafs-img {
    width: 290px;
    height: 270px;
  }

  .about-us-content {
    padding: 50px 0px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .about-us-text>h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 37px;
    line-height: 46px;
  }

  .about-us-text>p {
    width: 100%;
    margin-top: 11px;
  }

  .houseplant-img {
    width: 250px;
    height: 258px;
    margin: 70px 0px 59px 0px;
  }

  .services-content {
    margin: 40px 0px 80px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .services {
    padding: 0px 0px 73px 0px;
    display: grid;
    grid-template-columns: 280px 280px;
    column-gap: 80px;
    row-gap: 40px;
    justify-content: center;
    justify-items: stretch;
  }

  .service-item>img {
    width: 280px;
    height: 350px;
  }

  .service-item-descriprion {
    width: 280px;
    height: 105px;
    margin-top: -7px;
  }

  .service-item-descriprion>h3 {
    padding: 16px 0px 6px 0px;
  }

  .service-item-descriprion>p {
    width: 80%;
    margin: 7px 0px 0px 28px;
    text-align: center;
  }

  .prices-options>h2 {
    font-size: 33px;
  }

  .text-call-us>h3 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 25px;
  }

  .wrapper-contacts {
    padding: 0px 0px 96px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .contact us {
    order: -1;
  }

  .contact-us>h2 {
    padding: 40px 0px 0px 0px;
  }

  .contacts-form {
    order: 0;
  }

  .contacts-form>form {
    margin-top: 3px;
  }

  input[type="text"] {
    margin-left: 0px;
  }

  .contact-img {
    order: 1;
  }

  .contact-img>img {
    margin: 50px 0px 0px 0px;
  }

  .footer-data {
    gap: 5px;
  }

  .footer-social-list {
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .main-container {
    max-width: 768px;
  }

  .navbar {
    gap: 70px;
    margin-top: 0px;
    padding-right: 0px;
  }

  .header-logo-link {
    padding-left: 0px;
  }

  .header-logo-svg {
    margin-top: -3px;
  }

  .welcome-content {
    width: 100%;
    padding: 0px 0px 86px 0px;
  }

  .welcome-leafs-img {
    width: 285px;
    height: 264px;
    order: 0;
    margin-top: 14px;
  }

  .welcome-text {
    width: 58%;
    height: 310px;
    order: -1;
    margin: 40px 0px 0px 0px;
  }

  .welcome-text>p {
    width: 90%;
    font-size: 16px;
    line-height: 25px;
    margin: 30px 0px 14px 0px;
    padding: 2px 0px 0px 5px;
  }

  .welcome-text>button {
    line-height: 20px;
    margin-top: 19px;
  }

  .about-us-content {
    padding: 35px 0px;
  }

  .about-us-text>h2 {
    font-size: 35px;
  }

  .services-content {
    width: 90%;
    margin: 60px 0px 41px 0px;
    display: block;
    padding: 0px;
  }

  .services-content>h2 {
    width: 60%;
    font-size: 35px;
    line-height: 46px;
    padding-bottom: 40px;
    text-align: start;
  }

  .service-btns-container {
    width: 93%;
    gap: 42px;
    margin: 0px;
  }

  .service-btns-container>button {
    width: 200px;
    height: 50px;
  }

  .services {
    column-gap: 90px;
    justify-content: space-between;
  }

  .prices-content {
    padding: 41px 0px 82px 0px;
  }

  .prices-options>h2 {
    padding-left: 14px;
    font-size: 35px;
    line-height: 42px;
  }

  .prices-items {
    margin-top: 54px;
  }

  .prices-items-list {
    padding: 19px 0px 19px 40px;
    gap: 22px;
  }

  .text-call-us {
    position: relative;
    padding-top: 100px;
    width: 60%;
  }

  .prices-leafs-img {
    margin-top: 31px;
    width: 156px;
    height: 186px;
  }

  .wrapper-contacts {
    padding: 0px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .contacts-form>form {
    margin-top: 80px;
  }

  .contact-img>img {
    width: 200px;
    height: 248.49px;
    margin: 209px 0px 0px 95px;
  }

  .footer-content {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .footer-data {
    margin-top: 13px;
    gap: 23px;
  }

  .footer-data>p {
    line-height: 24px;
  }

  .footer-links {
    line-height: 24px;
  }

  .footer-rs-school-link {
    padding-left: 0px;
  }

  .footer-social-list {
    height: 50px;
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .navbar {
    gap: 125px;
  }

  .nav-list {
    gap: 30px;
  }

  .welcome-leafs-img {
    width: 250px;
    height: 244.15px;
  }

  .welcome-text>h1 {
    font-size: 33px;
    line-height: 35px;
  }

  .about-us-text>h2 {
    width: 66%;
    font-size: 30px;
  }

  .services-content {
    margin-top: 30px;
  }

  .services {
    column-gap: 35px;
    row-gap: 40px;
    justify-content: center;
  }

  .prices-content {
    padding: 41px 0px 52px 0px;
  }

  .accordion-content {
    text-align: left;
  }

  .text-call-us {
    padding-top: 50px;
    width: 40%;
  }

  .text-call-us>h3 {
    margin-bottom: 40px;
  }

  .wrapper-contacts {
    padding: 0px 0px 20px 0px;
  }

  .contact-img>img {
    margin: 178px 0px 0px 95px;
  }
}


@media (max-width: 661px) {
  .navbar {
    gap: 10px;
  }

  .nav-list {
    gap: 14px;
  }

  .welcome-content {
    width: 100%;
    padding: 0px 0px 120px 0px;
  }

  .about-us-content {
    padding: 30px 0px;
  }

  .welcome-leafs-img {
    width: 180px;
    height: 154.15px;
  }

  .welcome-text>h1 {
    font-size: 30px;
  }

  .services-content>h2 {
    width: 60%;
  }

  .services {
    grid-template-columns: 280px;
    row-gap: 40px;
    justify-content: center;
  }

  .prices-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .prices-items {
    margin-top: 20px;
  }

  .text-call-us {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px;
    margin-top: 35px;
  }

  .text-call-us>h3 {
    width: 70%;
    height: 77px;
    text-align: center;
    margin-bottom: 30px;
  }

  .prices-leafs-img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
  }

  .contacts-form>form {
    width: 430px;
  }
}

@media (max-width: 506px) {
  .nav-link {
    font-size: 12px;
  }

  .welcome-leafs-img {
    width: 100px;
    height: 84.15px;
  }

  .welcome-text>h1 {
    font-size: 25px;
    line-height: 35px;
  }

  .welcome-text>button {
    font-size: 10px;
    line-height: 20px;
    width: 100px;
    height: 34.14px;
  }

  .welcome-text>p {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding: 0px;
  }

  .about-us-text>h2 {
    width: 86%;
    font-size: 25px;
    line-height: 35px;
    padding-bottom: 20px;
  }

  .about-us-text>p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 28px;
  }

  .houseplant-img {
    width: 150px;
    height: 147px;
    margin: 50px 0px 0px 0px;
  }

  .services-content>h2 {
    width: 90%;
    font-size: 30px;
    line-height: 33px;
    padding-bottom: 20px;
  }

  .service-btns-container {
    width: 100%;
    flex-wrap: nowrap;
    gap: 10px;
    margin: 5px 0px 34px 0px;
  }

  .service-btns-container>button {
    font-size: 15px;
    line-height: 20px;
    width: 121px;
    height: 35px;
  }

  .services {
    grid-template-columns: 280px;
    row-gap: 40px;
    justify-content: center;
    padding-bottom: 50px;
  }

  .prices-content {
    padding-bottom: 35px;
  }

  .prices-options>h2 {
    margin: 0px;
    font-size: 25px;
    line-height: 30px;
  }

  .prices-items {
    width: 203px;
  }

  .prices-items-list {
    margin-top: 16px;
    padding: 0px 0px 15px 10px;
  }

  .price-accordion {
    position: relative;
    width: 180px;
    height: 49.72px;
  }

  .price-accordion>span {
    left: 30px;
    font-size: 15px;
    line-height: 20px;
  }

  .price-accordion>button {
    top: 17px;
    right: 40px;
    width: 16px;
    height: 15.91px;
  }

  hr {
    width: 160px;
    margin-left: 0px;
  }

  .accordion-content {
    width: 180px;
    padding-left: 10px;
  }


  .text-call-us {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
  }

  .text-call-us>h3 {
    width: 100%;
    margin-bottom: 20px;
  }

  .text-call-us>button {
    font-weight: 700;
    font-size: 15px;
    width: 100px;
    height: 35px;
  }

  .prices-leafs-img {
    width: 105px;
    height: 118px;
  }

  .wrapper-contacts {
    padding: 0px;
  }

  .contact-us>h2 {
    font-size: 30px;
  }

  .contact-img>img {
    margin: 160px 0px 0px 95px;
  }

  .contacts-form>form {
    width: 320px;
  }

}

/*mobile*/

@media (max-width: 380px) {
  .main-container {
    max-width: 380px;
  }

  .wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 23px 0px;
  }

  .nav-list {
    position: fixed;
    right: -105%;
    top: 89px;
    flex-direction: column;
    gap: 0px;
    background-color: #EDF2EC;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    border-top: 0.5px solid lightgray;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }

  .nav-list.active {
    right: 0;
  }

  .nav-item {
    margin: 24px 0;
  }

  .nav-link {
    font-size: 16px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger .hamburger-open {
    display: block;
  }

  .hamburger.active .hamburger-open {
    display: none;
  }

  .hamburger .hamburger-close {
    display: none;
  }

  .hamburger.active .hamburger-close {
    display: block;
  }

  .hamburger-close {
    padding: 0 7px;
  }

  .welcome-content {
    padding: 0px;
  }

  .welcome-text {
    width: 100%;
    order: -1;
    margin: 0px;
  }

  .welcome-text>h1 {
    font-size: 25px;
    line-height: 35px;
    color: #717171;
    padding-top: 36px;
  }

  .welcome-text>p {
    width: 100%;
    color: #636060;
  }

  .welcome-text>button {
    font-size: 10px;
    line-height: 20px;
    width: 100px;
    height: 34.14px;
    margin: 16px 0px 14px 0px;
    transition: 0.5s;
  }

  .welcome-leafs-img {
    display: none;
  }

  .about-us-content {
    padding: 9.5px 0px;
  }

  .about-us-text>h2 {
    font-size: 25px;
    line-height: 33px;
    padding: 16px 0px 2px 0px;
  }

  .about-us-text>p {
    color: #636060;
    font-size: 15px;
    line-height: 25px;
  }

  .houseplant-img {
    width: 150px;
    height: 147px;
    margin: 3px 0px 22px 0px;
  }

  .services-content {
    padding-top: 0px;
    width: 100%;
  }

  .services-content>h2 {
    width: 56%;
    font-size: 25px;
    line-height: 33px;
  }

  .service-btns-container {
    width: 80%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin: 17px 0px 34px 0px;
  }

  .services {
    row-gap: 33px;
    padding-bottom: 24.5px;
  }

  .service-item-descriprion {
    height: 108px;
  }

  .service-item-descriprion>p {
    margin: 3px 0px 0px 28px;
  }

  .prices-content {
    padding: 0px 0px 38px 0px;
  }

  .prices-options>h2 {
    margin: 26px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 25px;
    line-height: 30px;
  }

  .prices-items {
    width: 224px;
    margin-top: 37px;
  }

  .prices-items-list {
    margin: 17.5px 0px;
    padding: 0px 0px 0px 23px;
  }

  .price-accordion {
    position: relative;
    width: 180px;
    height: 49.72px;
  }

  .price-accordion>span {
    left: 30px;
    font-size: 15px;
    line-height: 20px;
  }

  .price-accordion>button {
    top: 17px;
    right: 40px;
    width: 16px;
    height: 15.91px;
  }

  .text-call-us {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px;
    margin-top: 0px;
  }

  .text-call-us>h3 {
    width: 80%;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin: 20px 0px 14px 0px;
  }

  .text-call-us>button {
    font-size: 15px;
    line-height: 29px;
    width: 121px;
    height: 35px;
    border: 1px solid #E06733;
  }

  .prices-leafs-img {
    display: none;
  }

  .contact-us>h2 {
    padding-top: 25px;
    font-size: 25px;
    line-height: 33px;
  }

  .contacts-form>form {
    margin-top: 61px;
    width: 300px;
    height: 50px;
  }

  button[type="submit"] {
    position: absolute;
    right: 23px;
  }

  .contact-img {
    width: 100px;
    height: 125px;
    margin: 122px 0px 0px -3px;
  }

  .contact-img>img {
    width: 100px;
    height: 125px;
    margin: 0px;
  }

  .footer-content {
    padding: 9px 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .footer-data {
    padding-right: 5px;
  }

  .footer-rs-school {
    padding-bottom: 4px;
    padding-top: 15px;
  }
}

@media (max-width: 362px) {
  .welcome-text {
    margin-bottom: 20px;
  }

  .welcome-text>h1 {
    padding-top: 20px;
  }


  .service-btns-container {
    width: 100%;
  }

  .contacts-form>form {
    width: 260px;
    overflow: hidden;
  }

  button[type="submit"] {
    position: absolute;
    right: 23px;
  }
}
